* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(38, 204, 38);
  padding: 8px 16px;
  z-index: 1;
}

.brand-logo {
  display: inline-block;
  vertical-align: middle;
}

.main-nav__brand {
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  height: 32px;
  display: inline-block;
  /* container has to be block or inline-block for img to respect container height and width */
}

.main-nav__brand img {
  height: 100%;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0px 20px;
}

.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 4px solid white;
}

/* p::first-letter {
  font-size: 30px;
  font-weight: bold;
} */

.main-nav__item--cta a {
  color: white;
  background: red;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: red;
  background: white;
  border: none;
}

.button {
  font: inherit;
  background: rgb(105, 167, 105);
  padding: 8px;
  margin: 8px 0;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 1.8px solid black;
}

.main-footer {
  /* position: fixed;
  bottom: 0;
  left: 0; */
  width: 100%;
  background: black;
  padding: 24px;
  /* margin-top: 24px; */
}

.main-footer__links {
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: gainsboro;
}
